{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% block html %}
<div class="input-group date date-picker sg-daterange-wrapper">
    <input type="text"
        id="{{ tableId }}-sg-filter-{{ selectorId }}"
        class="individual_filtering sg-daterange-input {{ column.filter.class|default(defaultFilterClass) }}"
        style="{% if column.width %} width:{{ column.width }};{% endif %}"
        placeholder="{{ column.title|striptags|trim }}"
        data-filter-column-name="{{ column.name }}"
        readonly />
    <span class="input-group-btn">
        <button class="btn btn-sm default" type="button">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>
{% endblock %}
